body{
background-image: url(12205.jpg);
}
header{
    border-color: rgb(256, 256, 256);
    border-style: double;
    height: 10vh;
    background-color: #5e95e4;
    color: white;
}
div{
    width: 100%;
    height: 100%;
}
div > h1{
    font-size: 20px;
    color: #1667dc;
}
#name{
    font-weight: bold;
}
#lastname{
    transform: rotate(1deg);
}
button{
    width: 20px;
    height: 10px;
    background-color: #1667dc;
}
footer{
    height: 10vh;
    border-color: rgb(256, 256, 256);
    border-style: double;
    background-color: #5e95e4;
    color: white;
    width: 100%;
    position: unset;
    bottom:0%;
}
table,td,th,thead{
    padding: 10px;
    border: 1px solid black;
    width: 90%;
    border-collapse: collapse;
    color: #261dcd;}
    ul{
        color: #0e72f0 ;
    }